.department_frame {
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);

}

.department_module {
    padding: 10px;
    height: 50vh !important;
    background-color: #eee;
    background-position: center;
    background-size: cover;

    animation: image 5s infinite alternate;
}

@keyframes image {
    0% {
        background-image: url('https://thumbs.dreamstime.com/b/doctor-hospital-background-copy-space-doctor-hospital-background-copy-space-healthcare-medical-concept-108682352.jpg');
    }

    100% {
        background-image: url('https://thumbs.dreamstime.com/b/doctor-stethoscope-hand-hospital-background-gown-94227568.jpg');
    }
}

.department {
    position: absolute;
    top: 30%;
    left: 60%;
}

.department>h1 {
    font-size: 50px;
}

.our_department {
    margin-top: 100px;
    text-align: center;
}

.our_department>h2 {
    font-size: xx-large;
    margin: 20px;
}

.main_card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.card {
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.department_card_image {
    overflow: hidden;
}

.department_card_image>img {
    width: 100%;
    height: 300px;
}


.card_image {
    transition: transform .5s ease;
}

.card_image:hover {
    transform: scale(1.2);
}

.card-title {
    font-weight: bolder;
    font-size: larger;
}

.card-text {
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 25px;
}

.btn {
    padding: 10px;
    background-color: rgb(66, 66, 200);
    color: white;
    border-radius: 10px;

}